<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.com.paioo.app"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="8" />
    <!-- 意见反馈界面拨打电话权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.SplashActivity" >
        </activity>
        <activity android:name=".ui.AccountRechargeActivity" >
        </activity>
        <activity android:name=".ui.AboutUs" >
        </activity>
        <activity android:name=".ui.ModifyContactWayActivity" >
        </activity>
        <activity android:name=".ui.RechargeRecordActivity" >
        </activity>
        <activity android:name=".ui.ModifyPassword" >
        </activity>
        <activity android:name=".ui.RegisterActivity" >
        </activity>
        <activity android:name=".ui.LoginActivity" >
        </activity>
        <activity android:name=".ui.ExtraCompanyInfoActivity" >
        </activity>
        <activity android:name=".ui.ForgetActivity" >
        </activity>
        <activity android:name=".ui.TransferAccountActivity" >
        </activity>
        <activity android:name=".ui.SuggestActivity" >
        </activity>
        <activity android:name=".ui.PreviewActivity" >
        </activity>
        <activity android:name=".ui.NavRecommendFriendsActivity" >
        </activity>
        <activity android:name=".ui.ADConsumeRecordActivity" >
        </activity>
        <activity android:name=".ui.RefereeIncomeActivity" >
        </activity>
        <activity android:name=".ui.PreviewDetailedActivity"></activity>
    </application>

</manifest>